@page "/"

<PageTitle>Home</PageTitle>

<h1>StarTrek</h1>

<div style="width: 500px;">
	<img src="images/spock.jpeg" width="500" height="500" alt="Spock with the Enterprise spaceship and stars and galaxies in the background" />
	<p><b>Prompt:</b> Spock with the Enterprise spaceship and stars and galaxies in the background, constructivist poster style, pastel tones, simple composition</p>
</div>
